/*GLOBAL VARIABLES AND STYLES*/
*{
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*UTILS*/
.btn{
  border-radius: 14px;
  padding: 10px 25px;
}
/*END UTILS*/


/*GESTOR INGRESO STYLES*/
.main-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
}

.main-container .part1{
  /*background-image: url(../public/images/portada_login2.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-container  .part2 {
  display: flex;
  align-items: center;
}
.part2 h1{
  color: #505050;
}

.part2-content{
  box-sizing: border-box;
  padding: 0 20px;
}
/*END*/



